:root {
  --normal-clr: #b8b799;
  --normal-opacity: #e6e7d2;
  --fire-clr: #ee8130;
  --fire-opacity: #fabd9c;
  --water-clr: #6390f0;
  --water-opacity: #9bbaf5;
  --electric-clr: #f7d02c;
  --electric-opacity: #f9e68c;
  --grass-clr: #7ac74c;
  --grass-opacity: #a3d98e;
  --ice-clr: #96d9d6;
  --ice-opacity: #b9ecea;
  --fighting-clr: #c22e28;
  --fighting-opacity: #e27975;
  --poison-clr: #a33ea1;
  --poison-opacity: #e08ff8;
  --ground-clr: #e2bf65;
  --ground-opacity: #d7c278;
  --flying-clr: #a98ff3;
  --flying-opacity: #cabaf9;
  --psychic-clr: #f95587;
  --psychic-opacity: #fa8cab;
  --bug-clr: #a6b91a;
  --bug-opacity: #c3d94d;
  --rock-clr: #b6a136;
  --rock-opacity: #b4a044;
  --ghost-clr: #735797;
  --ghost-opacity: #957ab2;
  --dragon-clr: #6f35fc;
  --dragon-opacity: #a37bfc;
  --dark-clr: #705746;
  --dark-opacity: #a18773;
  --steel-clr: #b7b7ce;
  --steel-opacity: #dbdbe9;
  --fairy-clr: #fa90d7;
  --fairy-opacity: #fbbae4;
}